<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Summary</div>
            <p>
              I am a dedicated and highly skilled Software Engineer with a strong foundation in C++, 
              Python, and the Qt framework, coupled with hands-on experience in developing and 
              optimizing high-performance applications. Currently, I work at CERN, where I contribute 
              to critical accelerator control systems, ensuring their reliability and efficiency.<br><br>
              My experience spans across backend development, UI design with QML, and open-source contributions, 
              demonstrating my commitment to innovation and technical excellence. With a background in collaborating 
              on complex projects and mentoring junior developers, I bring a problem-solving mindset and a passion for 
              advancing technology in regulated industries.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Age:</strong>
              </div>
              <div class="col-sm-8" id="age">
                <!--Added dynamically by script-->
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">sohambiswas41@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Graduation:</strong>
              </div>
              <div class="col-sm-8">July 2022</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Location:</strong>
              </div>
              <div class="col-sm-8">Geneva, Switzerland 🇨🇭</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Languages:</strong>
              </div>
              <div class="col-sm-8">
                English (C2), Hindi (C2), Bengali (Native), French (A1)
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Nationality:</strong>
              </div>
              <div class="col-sm-8">India 🇮🇳</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
