<footer class="footer">
  <div class="container text-center">
    <a class="cc-github btn btn-link" href="https://github.com/Nibba2018"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/soham-biswas-590784168/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    <a class="cc-medium btn btn-link" href="https://medium.com/@Nibba2018"><i class="fa fa-medium fa-2x" aria-hidden="true"></i></a>
    <a class="cc-instagram btn btn-link" href="https://www.instagram.com/sohambiswas1/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
  </div>
  <div class="h4 title text-center">Soham Biswas</div>
</footer>
