<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#"><img src="images/profile_pic.jpg" alt="Image" /></a>
          </div>
          <div class="h2 title">Soham Biswas</div>
          <p class="category text-white">💻 Software Engineer</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"><i class="fa fa-user"></i> Hire Me</a>
          <a class="btn btn-primary" href="documents/Resume.pdf" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" target="_blank" download="Soham_Biswas_Resume.pdf"><i class="fa fa-download"></i> Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/Nibba2018" rel="tooltip" title="Follow me on Github" style="background-color: black"><i class="fa fa-github"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/soham-biswas-590784168/" rel="tooltip" title="Follow me on LinkedIn" style="background-color: #0072b1"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://medium.com/@Nibba2018" rel="tooltip" title="Follow me on Medium" style="background-color: #dfdbdb"><i class="fa fa-medium" style="color: black"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/sohambiswas1/" rel="tooltip" title="Follow me on Instagram" style="background-color: #bc2a8d"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
