<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div
            class="col-md-3 bg-primary"
            data-aos="fade-right"
            data-aos-offset="50"
            data-aos-duration="500"
          >
            <div class="card-body cc-experience-header-image">
              <img
                style="background-color: white"
                src="/assets/images/logos/iem_logo.png"
                alt="iem-logo"
              />
            </div>
            <div class="card-body cc-education-header">
              <p>2018 - 2022</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div
            class="col-md-9"
            data-aos="fade-left"
            data-aos-offset="50"
            data-aos-duration="500"
          >
            <div class="card-body">
              <div class="h5">Institute of Engineering & Manangement, Kolkata</div>
              <p class="category">
                Computer Science and Engineering
              </p>
              <h6>CGPA: 9.33 | GPA: 3.81 | USA Grade: A</h6>
              <p>
                <ul class="card_list">
                  <li>
                    Studied fundamental Computer Science concepts such as CA, DSA, DBMS, OS, OOP etc. and
                     core computing concepts including Computer Graphics, Machine Learning,
                     Image Processing and Cyber Security.
                  </li>
                  <li>
                    Competed and won various inter-college Robotics competitions.
                  </li>
                  <li>
                    Operated and hosted workshops as Machine Learning Lead for DSC-IEM (Google Developer Student Club).
                  </li>
                  <li>
                    Received Gold Medal Award 🥇 for best student performance and impactful contribution
                    to Open Source and Open Science.
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>