<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ site.first_name }} {{ site.last_name }}</title>

{% for style in site.data.stylesheet %}
    <link href="{{ style }}" rel="stylesheet"/>
{% endfor %}

<noscript>
    <style type="text/css">
    [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
    }
    </style>
</noscript>

{% feed_meta %}
{% seo %}