<div class="section" id="publication">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Publications</div>
      <div class="card">
        <div class="row">
          <div
            class="col-md-3 bg-primary"
            data-aos="fade-right"
            data-aos-offset="50"
            data-aos-duration="500"
          >
            <div class="card-body cc-experience-header-image">
              <center>
                <img
                  src="/assets/images/logos/joss-logo.png"
                  alt="joss-logo"
                />
              </center>
            </div>
            <div class="card-body cc-education-header">
              <p>4th August 2021</p>
              <div class="h5">The Journal of Open Source Software</div>
            </div>
          </div>
          <div
            class="col-md-9"
            data-aos="fade-left"
            data-aos-offset="50"
            data-aos-duration="500"
          >
            <div class="card-body">
              <div class="h5">FURY: advanced scientific visualisation</div>
              <p class="category">
                Research Paper
              </p>
              <ul class="card_list">
                <li>
                  <b>DOI:</b> 10.21105/joss.03384
                </li>
                <li>
                  Read research paper <a href="https://joss.theoj.org/papers/10.21105/joss.03384" target="_blank">
                    here</a>.
                </li>
                <li>
                  <b>Citation</b>
                </li>
                <p style="text-align: center; background-color: aliceblue;">
                  Garyfallidis et al., (2021). FURY: advanced scientific visualization. Journal of Open Source
                  Software, 6(64), 3384, https://doi.org/10.21105/joss.03384
                </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>